<html>

  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="stylesheet.css">

    <title>Communicator - Add Announcement</title>
  </head>

  <body>
    <div class="w3-panel">
      <h3>Submit New Announcement</h3>
      <p>{{ date }}</p>
    </div>
    <div class="w3-panel">
      {{ form(info_form) }}
    </div>
  </body>


</html>