<html>

  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="stylesheet.css">

    <title>Communicator - New Article</title>
  </head>

  <body>
    <div class='w3-container'>
      {{ form(form.subject) }}
    </div>
    <div class='w3-container'>
      {{ form(form.author) }}
    </div>
  </body>

</html>