<html>

  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="stylesheet.css">

    <title>Communicator - New Article</title>
  </head>

  <body>
    <table class="w3-table-all">
      <tr>
        <th>ID</th>
      </tr>
      <tr>
        <td>New</td>
      </tr>
    </table>
  </body>

</html>