<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Communicator - Access Denied</title>
  </head>

  <body>
    <div class="w3-panel">
      <h2><b>Access Denied</b></h2>
      <p>{{ date }}</p>
    </div>
    <div class="w3-panel">
    </div>
  </body>



</html>

